html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

nav ul li {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #576490;
  width: 100%;
}

nav ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #DCEED1;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.7em;
  transition: all 0.5s;

}

nav ul li a:hover{
  background-color: #313628 ;
  color:#CADF9E ;
}
body {
  background-color: #C2BBF0;
}


img.testing {
  transform: matrix(0.1, 1, -0.3, 1, 0, 0);
  transition: transform 50s;

}



h1 {
  margin-top: 1.6cm;
  color: #DCEED1;
  background-color: #313628;
  padding: 0.3cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: #576490;
  border-style: double;
  border-width: 0.5cm;
  text-align: center;
  text-shadow: 2px 2px #9faf7c;
}

h2 {
  color: #CADF9E;
  background-color: #576490;
  padding: 0.2cm;
  text-align: center;
}

h4 {
  color: #CADF9E;
  background-color: #576490;
  padding: 0.2cm;
  margin-right: 1325px;
}

p {
  color: #313628;
}

ul li {
  color: #313628;
}

#soup {
  column-count: 2;
  column-width: 45%;
}

img {
  transition: all 20s;
}

